<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dictionary-type</key>
	<dict>
		<key>Array-type</key>
		<array>
			<dict>
				<key>Boolean-type-to-arr</key>
				<true/>
				<key>Data-type-to-arr</key>
				<data>
				X0RTTQ==
				</data>
				<key>Number-type-to-arr</key>
				<integer>1235689</integer>
				<key>String-type-to-arr</key>
				<string>test-string</string>
			</dict>
			<dict>
				<key>Boolean-type-to-arr</key>
				<false/>
				<key>Data-type-to-arr</key>
				<data>
				X0RTTQ==
				</data>
				<key>Number-type-to-arr</key>
				<integer>1235689</integer>
				<key>String-type-to-arr</key>
				<string>test-string</string>
			</dict>
		</array>
		<key>Boolean-type</key>
		<true/>
		<key>Data-type</key>
		<data>
		X0RTTQ==
		</data>
		<key>Number-type</key>
		<integer>1235689</integer>
		<key>String-type</key>
		<string>test-string</string>
	</dict>
</dict>
</plist>
